receivers:
  fluentforward:
    endpoint: 0.0.0.0:24224
  prometheus:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
  otlp/dummy:
    protocols:
      grpc:
        endpoint: 'localhost:12345'

connectors:
  servicegraph:
    metrics_exporter: 'otlp'
    latency_histogram_buckets: [100us, 1ms, 2ms, 6ms, 10ms, 100ms, 250ms]
    dimensions: [cluster, namespace]
    store:
      ttl: 2s
      max_items: 200
  spanmetrics:
    metrics_exporter: 'otlp'
    latency_histogram_buckets: [100us, 1ms, 2ms, 6ms, 10ms, 100ms, 250ms]
    dimensions_cache_size: 1500
    dimensions:
      - name: http.method
        default: GET
      - name: http.status_code
processors:
  batch:
    send_batch_size: 1000
    timeout: 5s
  memory_limiter:
    check_interval: 2s
    limit_mib: 1800
    spike_limit_mib: 500
  resourcedetection/system:
    detectors: ['system']
    system:
      hostname_sources: ['os']
  metricstransform:
    transforms:
      - include: calls_total
        action: update
        new_name: traces_spanmetrics_calls_total
        operations:
          - action: update_label
            label: operation
            new_label: span.name
          - action: update_label
            label: service.name
            new_label: service
      - include: latency
        action: update
        new_name: traces_spanmetrics_latency
exporters:
  qryn:
    dsn: tcp://clickhouse-server:9000/cloki?username=qryn&password=demo
    timeout: 10s
    sending_queue:
      queue_size: 100
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_elapsed_time: 300s
  otlp:
    endpoint: localhost:4317
    tls:
      insecure: true

extensions:
  health_check:
  pprof:
  zpages:

service:
  extensions: [pprof, zpages, health_check]
  pipelines:
    logs:
      receivers: [fluentforward, otlp]
      processors: [memory_limiter, resourcedetection/system, batch]
      exporters: [qryn]
    traces:
      receivers: [otlp]
      processors: [resourcedetection/system, batch]
      exporters: [qryn, spanmetrics, servicegraph]
    metrics:
      receivers: [otlp, servicegraph, spanmetrics]
      processors:
        [memory_limiter, resourcedetection/system, metricstransform, batch]
      exporters: [qryn]
