receivers:
  fluentforward:
    endpoint: 0.0.0.0:24224
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
  otlp/dummy:
    protocols:
      grpc:
        endpoint: 'localhost:12345'
  pyroscopereceiver:
processors:
  batch:
    send_batch_size: 1000
    timeout: 5s
  memory_limiter:
    check_interval: 2s
    limit_mib: 1800
    spike_limit_mib: 500
  resourcedetection/system:
    detectors: ['system']
    system:
      hostname_sources: ['os']
  spanmetrics:
    metrics_exporter: 'otlp'
    latency_histogram_buckets: [100us, 1ms, 2ms, 6ms, 10ms, 100ms, 250ms]
    dimensions_cache_size: 1500
    dimensions:
      - name: http.method
        default: GET
      - name: http.status_code
      - name: span.name
  servicegraph:
    metrics_exporter: 'otlp'
    latency_histogram_buckets: [100us, 1ms, 2ms, 6ms, 10ms, 100ms, 250ms]
    dimensions: [cluster, namespace]
    store:
      ttl: 2s
      max_items: 200
  metricstransform:
    transforms:
      - include: calls_total
        action: update
        new_name: traces_spanmetrics_calls_total
        operations:
          - action: update_label
            label: operation
            new_label: span.name
      - include: latency
        action: update
        new_name: traces_spanmetrics_latency
exporters:
  qryn:
    dsn: tcp://clickhouse-server:9000/cloki?username=qryn&password=demo
    timeout: 10s
    sending_queue:
      queue_size: 100
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_elapsed_time: 300s
  otlp:
    endpoint: localhost:4317
    tls:
      insecure: true
extensions:
  health_check:
  pprof:
  zpages:
  memory_ballast:
    size_mib: 1000
service:
  # telemetry:
  #   logs:
  #     level: "debug"
  extensions: [pprof, zpages, health_check]
  pipelines:
    logs:
      receivers: [fluentforward, otlp]
      processors: [memory_limiter, resourcedetection/system, batch]
      exporters: [qryn]
    logs/profiles:
      receivers: [pyroscopereceiver]
      processors: [batch]
      exporters: [qryn]
    traces:
      receivers: [otlp]
      processors: [resourcedetection/system, spanmetrics, batch]
      exporters: [qryn]
    traces/servicegraph:
      receivers: [otlp]
      processors: [servicegraph]
      exporters: [otlp]
    metrics/spanmetrics:
      receivers: [otlp/dummy]
      exporters: [otlp]
    metrics:
      receivers: [otlp]
      processors:
        [memory_limiter, resourcedetection/system, metricstransform, batch]
      exporters: [qryn]
